.countdown {
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}
.timer-box {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;

}

.bg-image {
    background-image: "img/toronto_skyline.jpg";
    height: 100vh;
}